#img-laptop {
    height: 100px;
}

h1 {
    text-transform: uppercase;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.thuoc-tinh {
    font-family: Inter;
    font-weight: bold;
}

/* Buá»•i 4 */
#navigation_bar {
    
}